##########################################################################################
# LOG LEVEL
##########################################################################################
# APP_DEBUG:                   Options: 
#                                   'trace' | 'debug' | 'info' 
#                                   'warn'  | 'error' | 'silent'
##########################################################################################
APP_DEBUG=trace
APP_PORT=3001
WORKER_NODE=true
WORKER_ONLY=false
##########################################################################################
# MongoDB Configurations
##########################################################################################
#
# - MONGO_URL:               Mongo Connection string to access the DB
#
##########################################################################################
MONGO_URL=mongodb://user:user@127.0.0.1:27017/goat

##########################################################################################
# JWT Configurations
##########################################################################################
#
# JWT_SECRET:                 The secret password for JWT token encryption.
# JWT_SECRET_BUFFER:          To be used only if you are using KeyCloak AUTH
# JWT_EXPIRE_TIME:            The expiration for the JWT tokens set in minutes.
#
##########################################################################################

JWT_SECRET=CHANGEME
#JWT_SECRET_BUFFER=ItJkja_3-NgMX-tobf-arXe1eSUzzBQqB_kxqHfPuCcDjNNq_uLqQpHsKwh7k6uUitgpsuKH8rMelB2ApOMfhQ
JWT_EXPIRE_TIME=240
LB_SKIP_JWT=true

##########################################################################################
# SMTP Email Transport Configuration
##########################################################################################
#
# - SMTP_HOST:              The SMTP server host.
# - SMTP_SSL:               Should the connection to the SMTP server be over SSL.
# - SMTP_PORT:              The SMTP server port.
# - SMTP_USER:              The account username to authenticate with the SMTP server.
# - SMTP_PASS:              The account password to authenticate with the SMTP server.
#
##########################################################################################

SMTP_HOST=
SMTP_SSL=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

##########################################################################################
# Pusher Configuration
##########################################################################################
#
# - PUSHER_APP_ID                           Pusher App ID
# - PUSHER_APP_KEY                          Pusher App Key
# - PUSHER_APP_SECRET                       Pusher App Secret
# - PUSHER_APP_CLUSTER                      Pusher App Cluster
#
##########################################################################################

SHOULD_BROADCAST=false
PUSHER_APP_ID=791972
PUSHER_APP_KEY=e308a51cf17ec0881980
PUSHER_APP_SECRET=e64e6e6263f093cb4b79
PUSHER_APP_CLUSTER=us2

##########################################################################################
# Keycloak Configuration
##########################################################################################
#
# - KEYCLOAK_ENABLED                        Whether Keycloak API Protection is on or not
# - KEYCLOAK_CLIENT_ID                      Client ID registered in Keycloak
# - KEYCLOAK_SECRET                         Client Secret generated by Keycloak
# - KEYCLOAK_URL                            Keycloak base URL
# - KEYCLOAK_REALM                          Keycloak realm to be used
#
##########################################################################################
KEYCLOAK_ENABLED=false
KEYCLOAK_CLIENT_ID=kong
KEYCLOAK_SECRET=A43371543-5544-45df-9b8d-00bd09939123
KEYCLOAK_URL=https://somewhere.goatlab.dev
KEYCLOAK_REALM=apps